/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #E5DF19;
  color: black;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-yellow{
  width: 100%;
  top: 0%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.tk-yellow--para {
  width: 25%;
  font-size: 15px;
  padding: 15px;
  color: black;
/*float for sm-para-container*/
  float: left;
  position: absolute;
}

.tk-yellow-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.tk-yellow-container--rays {
  width: 100%;
  height: 150%;
  position: absolute;
  bottom: -5%;
  background-image: url("../assets/theme-yellow-rays.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

.tk-yellow-container--ra {
  width: 30%;
  position: absolute;
  bottom: -70%;
  left: 67%;
/*// change animation time for the fish to change speed */
  animation: setting-sun 7s;
  z-index: 200;
}

@keyframes setting-sun {
  0% {
    margin-left: -100vw;
    margin-bottom: 50%;
  }

  55% {
    margin-left: -1vw;
  }

  100% {
    margin-left: 0vw;
    margin-bottom: 0%;
  }
}

.tk-kapua1 {
  width: 30%;
  position: fixed;
  left: -30%;
  bottom: 70%;
/*// change animation time for the fish to change speed */
  animation: moving-clouds1 50s 4s infinite;
  z-index: 200;
}

@keyframes moving-clouds1 {
  0% {
    margin-left: -30vw;
  }

  100% {
    margin-left: 150vw;
  }
}

.tk-kapua2 {
  width: 30%;
  position: fixed;
  left: -30%;
  bottom: 75%;
/*// change animation time for the fish to change speed */
  animation: moving-clouds2 40s 3s infinite;
  z-index: 200;
}

@keyframes moving-clouds2 {
  0% {
    margin-left: -30vw;
  }

  100% {
    margin-left: 150vw;
  }
}

.tk-kapua3 {
  width: 30%;
  position: fixed;
  bottom: 71%;
/*// change animation time for the fish to change speed */
  animation: moving-clouds3 50s infinite;
  z-index: 200;
}

@keyframes moving-clouds3 {
  0% {
    margin-left: 140vw;
    transform: rotate(0deg) scalex(-1);
  }

  100% {
    margin-left: -30vw;
    transform: rotate(0deg) scalex(-1);
  }
}

/*// iPad Pro */
@media only screen and (max-width: 1400px) {
  .tk-yellow-container--rays {
    width: 150%;
    height: 150vh;
    position: absolute;
    bottom: -5%;
    margin-left: -39%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .tk-yellow-container--ra {
    width: 40%;
    position: absolute;
    bottom: -70%;
    left: 62%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -100vw;
      margin-bottom: 50%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }

  .tk-kapua1 {
    width: 40%;
    position: fixed;
    left: -40%;
    bottom: 70%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds1 50s 4s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds1 {
    0% {
      margin-left: -40vw;
    }

    100% {
      margin-left: 150vw;
    }
  }

  .tk-kapua2 {
    width: 40%;
    position: fixed;
    left: -40%;
    bottom: 75%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds2 40s 2s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds2 {
    0% {
      margin-left: -40vw;
    }

    100% {
      margin-left: 150vw;
    }
  }

  .tk-kapua3 {
    width: 40%;
    position: fixed;
    bottom: 71%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds3 50s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds3 {
    0% {
      margin-left: 160vw;
      transform: rotate(0deg) scalex(-1);
    }

    100% {
      margin-left: -60vw;
      transform: rotate(0deg) scalex(-1);
    }
  }
}

/*// iPad & iPad Mini */
@media only screen and (max-width: 1200px) {
  .tk-yellow-container--ra {
    width: 40%;
    position: absolute;
    bottom: -70%;
    left: 62%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -100vw;
      margin-bottom: 50%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .tk-yellow-container--ra {
    width: 50%;
    position: absolute;
    bottom: -80%;
    left: 55%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -100vw;
      margin-bottom: 50%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}

/*// iPhone 6/7/8 Plus */
@media only screen and (max-width: 500px) {
  .tk-yellow-container--rays {
    width: 295%;
    height: 120vh;
    position: absolute;
    bottom: -5%;
    margin-left: -160%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .tk-yellow-container--ra {
    width: 65%;
    position: absolute;
    bottom: -80%;
    left: 40%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -150vw;
      margin-bottom: 80%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }

  .tk-kapua1 {
    width: 90%;
    position: fixed;
    left: -90%;
    bottom: 70%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds1 50s 4s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds1 {
    0% {
      margin-left: -40vw;
    }

    100% {
      margin-left: 190vw;
    }
  }

  .tk-kapua2 {
    width: 90%;
    position: fixed;
    left: -90%;
    bottom: 75%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds2 40s 2s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds2 {
    0% {
      margin-left: -40vw;
    }

    100% {
      margin-left: 190vw;
    }
  }

  .tk-kapua3 {
    width: 90%;
    position: fixed;
    bottom: 71%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds3 50s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds3 {
    0% {
      margin-left: 160vw;
      transform: rotate(0deg) scalex(-1);
    }

    100% {
      margin-left: -90vw;
      transform: rotate(0deg) scalex(-1);
    }
  }
}

/*// iPhone X */
@media only screen and (max-width: 400px) {
  .tk-yellow-container--rays {
    width: 270%;
    height: 105vh;
    position: absolute;
    bottom: -5%;
    margin-left: -169%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .tk-yellow-container--ra {
    width: 70%;
    position: absolute;
    bottom: -80%;
    left: 40%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -150vw;
      margin-bottom: 80%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }

  .tk-kapua1 {
    width: 90%;
    position: fixed;
    left: -90%;
    bottom: 70%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds1 50s 4s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds1 {
    0% {
      margin-left: -40vw;
    }

    100% {
      margin-left: 190vw;
    }
  }

  .tk-kapua2 {
    width: 90%;
    position: fixed;
    left: -90%;
    bottom: 75%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds2 40s 2s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds2 {
    0% {
      margin-left: -40vw;
    }

    100% {
      margin-left: 190vw;
    }
  }

  .tk-kapua3 {
    width: 90%;
    position: fixed;
    bottom: 71%;
  /*// change animation time for the fish to change speed */
    animation: moving-clouds3 50s infinite;
    z-index: 200;
  }

  @keyframes moving-clouds3 {
    0% {
      margin-left: 160vw;
      transform: rotate(0deg) scalex(-1);
    }

    100% {
      margin-left: -90vw;
      transform: rotate(0deg) scalex(-1);
    }
  }
}

/*// iPhone 5/SE */
@media only screen and (max-width: 350px) {
  .tk-yellow-container--rays {
    width: 270%;
    height: 105vh;
    position: absolute;
    bottom: -5%;
    margin-left: -138%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }
}
