/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #88C5DD;
  color: black;
}

.MauisHook {
  cursor: url(file:///Users/toka/Desktop/theme-blue-cursor.png) 20 70, auto;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-blue-container {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.tk-blue-container--wave {
  width: 100%;
  float: right;
  position: absolute;
  bottom: 0%;
}

.tk-ika-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.tk-ika-container--ika1 {
  width: 5%;
  height: 10vh;
  padding-top: 45%;
  padding-left: 20%;
  position: absolute;
}

.tk-ika-container--ika2 {
  width: 5%;
  height: 10vh;
  padding-top: 38%;
  padding-left: 40%;
  position: absolute;
}

.tk-ika-container--ika3 {
  width: 5%;
  height: 10vh;
  padding-top: 40%;
  padding-left: 80%;
  position: absolute;
}

.tk-ika1 {
  width: 7%;
  position: fixed;
  top: 70vh;
/*// change animation time for the fish to change speed */
  animation: swimming-fish1 8s infinite;
  z-index: 200;
}

@keyframes swimming-fish1 {
  0% {
    margin-left: -20vw;
    margin-top: 2;
  }

  25% {
    margin-left: 30vw;
  }

  50% {
    margin-top: 40vw;
    margin-top: 4%;
  }

  75% {
    margin-left: 70vw;
  }

  100% {
    margin-left: 120vw;
    margin-top: 9%;
  }
}

.tk-ika2 {
  width: 7%;
  position: fixed;
  top: 70vh;
/*// change animation time for the fish to change speed */
  animation: swimming-fish2 7s infinite;
  z-index: 200;
}

@keyframes swimming-fish2 {
  0% {
    margin-left: -20vw;
    margin-top: 2;
  }

  25% {
    margin-left: 10vw;
  }

  50% {
    margin-top: 50vw;
    margin-top: 4%;
  }

  75% {
    margin-left: 60vw;
  }

  100% {
    margin-left: 110vw;
    margin-top: -1%;
  }
}

.tk-ika3 {
  width: 7%;
  position: fixed;
  top: 70vh;
/*// change animation time for the fish to change speed */
  animation: swimming-fish3 6s infinite;
  z-index: 200;
}

@keyframes swimming-fish3 {
  0% {
    margin-left: 110vw;
    margin-top: 7%;
    transform: rotate(0deg) scalex(-1);
  }

  25% {
    margin-left: 70vw;
    transform: rotate(0deg) scalex(-1);
  }

  50% {
    margin-top: 50vw;
    margin-top: 12%;
    transform: rotate(0deg) scalex(-1);
  }

  75% {
    margin-left: 20vw;
    transform: rotate(0deg) scalex(-1);
  }

  100% {
    margin-left: -20vw;
    margin-top: 1%;
    transform: rotate(0deg) scalex(-1);
  }
}

.tk-waka {
  width: 30%;
  position: fixed;
  top: 35vh;
/*// change animation time for the fish to change speed */
  animation: moving-waka 20s infinite;
  z-index: 200;
}

@keyframes moving-waka {
  0% {
    margin-left: 110vw;
    margin-top: 3%;
  }

  100% {
    margin-left: -50vw;
  }
}
