
/* Format for applying styling rules */
[selector] {
[property]: [value];
}

/* Global Styles go here */
body {
 background: white;
 color: black;
 margin: 0;
}

img {
 width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.tk-title {
  width: 30%;
  height: 100%;
  float: right;
  font-size: 140px;
  top: 9%;
  left: 20%;
  color: black;
  position: absolute;
  overflow: hidden;
  animation-duration: 3s;
  animation-name: slidein;
  z-index: 100;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%
  }
}

.tk-korero {
  width: 20%;
  height: 100%;
  top: 77%;
  right: 0%;
  font-family: "helvetica", sans-serif;
  font-size: 15px;
  overflow: hidden;
  position: absolute;
  transition: 1s ease;
  animation: opacity 10s;
  z-index: 500;
}

.tk-korero:hover {
  top: 18%;
  transition: 1s ease;
}

.tk-korero2 {
  width: 20%;
  height: 150%;
  top: 77%;
  left: 40%;
  font-family: "helvetica", sans-serif;
  font-size: 25px; /* This is the font size that's being applied */
  overflow: hidden;
  position: absolute;
  transition: 1s ease;
  animation: opacity 10s;
  z-index: 500;
}

.tk-korero2:hover {
  top: -7%;
  transition: 1s ease;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
a {
  color: black;
}

.tk-menu {
  width: 10%;
  height: 100vh;
  margin-left: 2.5%;
  position: relative;
  overflow: visible;
  z-index: 200;
}

.tk-menu-stem {
  width: 25%;
/* This is the stem height */
  height: 86vh;
/* This is the stem space at the top */
  margin-top: 37%;
  margin-bottom: 7%;
  display: block;
  float: left;
  position: relative;
}

.tk-menu-stem--yellow {
  background-color: #E5DF19;
}

.tk-menu-stem--green {
  background-color: #90C960;
}

.tk-menu-stem--blue {
  background-color: #88C5DD;
}

.tk-menu-stem--purple {
  background-color: #633D6B;
}

.tk-menu-stem-koru {
  position: absolute;
/* This is the size of the koru, relative to the stem size */
  width: 305%;
}

.tk-menu-stem-koru--front {
  z-index: 110;
}

.tk-menu-stem-koru--back {
  z-index: 100;
}

.tk-menu-stem-koru--top {
  top: -7vh;
  right: -2px;
}

.tk-menu-stem-koru--bottom {
  bottom: -7vh;
  left: -1px;
}

.tk-main-container {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.tk-main-container--blue {
  width: 100%;
  float: right;
  position: absolute;
}

.tk-main-container--green {
  width: 100%;
  top: -10%;
  float: right;
  position: absolute;
  z-index: 1
}

.tk-main-container--purple {
  width: 100%;
  top: -20%;
  float: right;
  position: absolute;
}

.tk-main-container--yellow {
  width: 100%;
  top: -20%;
  float: right;
  position: absolute;
}

/*// iPad Pro */
@media only screen and (max-width: 1400px) {
  .tk-menu {
    width: 14%;
    left: 1%;
  }

  .tk-title {
    width: 40%;
    height: 78vh;
    float: right;
    font-size: 180px;
    top: 9%;
    left: 18%;
    color: black;
    position: absolute;
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .tk-main-container--blue {
    width: 110%;
    bottom: -1%;
    float: right;
    position: absolute;
  }

  .tk-main-container--green {
    width: 110%;
    top: 0%;
    float: right;
    position: absolute;
  }

  .tk-main-container--purple {
    width: 110%;
    top: 0%;
    float: right;
    position: absolute;
  }

  .tk-main-container--yellow {
    width: 110%;
    top: 0%;
    float: right;
    position: absolute;
  }
}

.tk-korero {
  width: 20%;
  bottom: -45%;
  left: 77%;
  font-family: "helvetica", sans-serif;
  font-size: 25px;
  overflow: hidden;
  position: absolute;
  transition: 1s ease;
  animation: opacity 10s;
  z-index: 500;
}

.tk-korero:hover {
  bottom: 12%;
  transition: 1s ease;
}

.tk-korero2 {
  width: 25%;
  bottom: -59%;
  left: 50%;
  /* font-family: "helvetica", sans-serif;
  font-size: 25px; */
  overflow: hidden;
  position: absolute;
  transition: 1s ease;
  animation: opacity 10s;
  z-index: 500;
}

.tk-korero2:hover {
  bottom: 11%;
  transition: 1s ease;
}

/*// iPad & iPad Mini */
@media only screen and (max-width: 1200px) {
  .tk-title {
    width: 38%;
    height: 76vh;
    float: right;
    font-size: 132px;
    top: 9%;
    left: 18%;
    color: black;
    position: absolute;
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .tk-korero {
    width: 20%;
    bottom: -49%;
    left: 77%;
    font-family: "helvetica", sans-serif;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    animation: opacity 10s;
    z-index: 500;
  }

  .tk-korero:hover {
    bottom: 13%;
    transition: 1s ease;
  }

  .tk-korero2 {
    width: 25%;
    bottom: -64%;
    left: 50%;
    /* font-family: "helvetica", sans-serif;
    font-size: 20px; */
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    animation: opacity 10s;
    z-index: 500;
  }

  .tk-korero2:hover {
    bottom: 13%;
    transition: 1s ease;
  }
}

@media only screen and (max-width: 800px) {
  .tk-menu {
    width: 20%;
    left: 2.5%
  }
}

/*// iPhone 6/7/8 Plus & Pixel 2 */
@media only screen and (max-width: 500px) {
  .tk-menu {
    width: 25%;
    left: 4%;
    margin-top: 3.5%;
  }

  .tk-menu-stem-koru {
    position: absolute;
  /* This is the size of the koru, relative to the stem size */
    width: 298%;
  }

  .tk-menu-stem-koru--top {
    top: -7vh;
    right: -1px;
  }

  .tk-menu-stem-koru--bottom {
    bottom: -7vh;
    left: -1px;
  }

  .tk-title {
    width: 60%;
    height: 48vh;
    float: right;
    font-size: 80px;
    top: 8%;
    left: 32%;
    color: black;
    position: absolute;
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .tk-main-container--blue {
    width: 300%;
    bottom: -1%;
    float: right;
    position: absolute;
  }

  .tk-main-container--green {
    width: 300%;
    top: 0%;
    right: -70%;
    float: right;
    position: absolute;
  }

  .tk-main-container--purple {
    width: 300%;
    top: 0%;
    right: -70%;
    float: right;
    position: absolute;
  }

  .tk-main-container--yellow {
    width: 300%;
    top: 0%;
    right: -50%;
    float: right;
    position: absolute;
  }

  .tk-korero {
    width: 50%;
    bottom: -41%;
    left: 50%;
    font-family: "helvetica", sans-serif;
    font-size: 15px;
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    animation: opacity 10s;
    z-index: 500;
  }

  .tk-korero:hover {
    bottom: 14%;
    transition: 1s ease;
  }

  .tk-korero2 {
    width: 50%;
    bottom: -53%;
    left: 40%;
    font-family: "helvetica", sans-serif;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    animation: opacity 10s;
    z-index: 500;
  }

  .tk-korero2:hover {
    bottom: 6%;
    transition: 1s ease;
    z-index: 400;
  }
}

/*// iPhone X */
@media only screen and (max-width: 400px) {
  .tk-menu {
    width: 25%;
    left: 4%;
  }

  .tk-menu-stem-koru {
    position: absolute;
  /* This is the size of the koru, relative to the stem size */
    width: 300%;
  }

  .tk-menu-stem-koru--top {
    top: -7vh;
    right: -1px;
  }

  .tk-menu-stem-koru--bottom {
    bottom: -7vh;
    left: -1px;
  }

  .tk-title {
    width: 66%;
    height: 60vh;
    float: right;
    font-size: 80px;
    top: 5%;
    left: 32%;
    color: black;
    position: absolute;
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .tk-main-container--blue {
    width: 310%;
    bottom: -1%;
    float: right;
    position: absolute;
  }

  .tk-main-container--green {
    width: 400%;
    top: 0%;
    right: -70%;
    float: right;
    position: absolute;
  }

  .tk-main-container--purple {
    width: 310%;
    top: -1%;
    right: -70%;
    float: right;
    position: absolute;
  }

  .tk-main-container--yellow {
    width: 310%;
    top: 0%;
    right: -50%;
    float: right;
    position: absolute;
  }

  .tk-korero {
    width: 50%;
    top: 93%;
    left: 51%;
    font-family: "helvetica", sans-serif;
    font-size: 15px;
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    animation: opacity 10s;
    z-index: 500;
  }

  .tk-korero:hover {
    top: 35%;
    transition: 1s ease;
  }

  .tk-korero2 {
    width: 50%;
    top: 93%;
    left: 39%;
    font-family: "helvetica", sans-serif;
    font-size: 15px;
    overflow: hidden;
    position: absolute;
    transition: 1s ease;
    animation: opacity 10s;
    z-index: 500;
  }

  .tk-korero2:hover {
    top: 35%;
    transition: 1s ease;
    z-index: 400;
  }
}
