/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #88C5DD;
  color: black;
}

img {
  width: 100%;
}

.fm-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fm-blue-container {
  width: 80%;
  height: 100%;
  float: right;
  position: relative;
  overflow: hidden;
}

.fm-blue-container--waka {
  width: 30%;
  margin-right: 20%;
  margin-top: 20%;
  float: right;
}
