/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #E5DF19;
  color: black;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-yellow-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.tk-yellow-container--rays {
  width: 100%;
  height: 150vh;
  position: absolute;
  bottom: -5%;
  background-image: url("../assets/theme-yellow-rays.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

.tk-yellow-container--ra {
  width: 30%;
  position: absolute;
  bottom: -70%;
  left: 67%;
/*// change animation time for the fish to change speed */
  animation: setting-sun 7s;
  z-index: 200;
}

@keyframes setting-sun {
  0% {
    margin-left: -100vw;
    margin-bottom: 50%;
  }

  55% {
    margin-left: -1vw;
  }

  100% {
    margin-left: 0vw;
    margin-bottom: 0%;
  }
}

/*// iPad Pro */
@media only screen and (max-width: 1400px) {
  .tk-yellow-container--rays {
    width: 150%;
    height: 150vh;
    position: absolute;
    bottom: -5%;
    margin-left: -39%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .tk-yellow-container--ra {
    width: 40%;
    position: absolute;
    bottom: -70%;
    left: 62%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -100vw;
      margin-bottom: 50%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}

/*// iPad & iPad */
@media only screen and (max-width: 1200px) {
  .tk-yellow-container--ra {
    width: 40%;
    position: absolute;
    bottom: -70%;
    left: 62%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -100vw;
      margin-bottom: 50%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .tk-yellow-container--ra {
    width: 50%;
    position: absolute;
    bottom: -80%;
    left: 55%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -100vw;
      margin-bottom: 50%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}

/*// iPhone 6/7/8 Plus */
@media only screen and (max-width: 500px) {
  .tk-yellow-container--rays {
    width: 295%;
    height: 120vh;
    position: absolute;
    bottom: -5%;
    margin-left: -160%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .tk-yellow-container--ra {
    width: 65%;
    position: absolute;
    bottom: -80%;
    left: 40%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -150vw;
      margin-bottom: 80%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}

/*// iPhone X */
@media only screen and (max-width: 400px) {
  .tk-yellow-container--rays {
    width: 270%;
    height: 105vh;
    position: absolute;
    bottom: -5%;
    margin-left: -169%;
    background-image: url("../assets/theme-yellow-rays.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .tk-yellow-container--ra {
    width: 70%;
    position: absolute;
    bottom: -80%;
    left: 40%;
  /*// change animation time for the fish to change speed */
    animation: setting-sun 7s;
    z-index: 200;
  }

  @keyframes setting-sun {
    0% {
      margin-left: -150vw;
      margin-bottom: 80%;
    }

    55% {
      margin-left: -1vw;
    }

    100% {
      margin-left: 0vw;
      margin-bottom: 0%;
    }
  }
}
