/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #633D6B;
  color: black;
}

img {
  width: 100%;
}

.fm-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fm-purple-container {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
  overflow: hidden;
}

.fm-purple-container--moon {
  width: 30%;
  float: right;
}

.fm-purple-container--stars {
  width: 35%;
  float: right;
}
