/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #633D6B;
  color: black;
}

.Whetu {
  cursor: url(file:///Users/toka/Desktop/theme-purple-cursor.png) 36 36, auto;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.tk-purple-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-purple-container--stars {
  width: 90%;
  height: 100vh;
  margin-left: 7%;
  position: absolute;
}

.tk-purple-container--moon {
  width: 20%;
  height: 100vh;
  margin-left: 80%;
  position: absolute;
  z-index: 100;
}
