/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #90C960;
  color: black;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-green-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.tk-koru {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../assets/theme-green-koru.png");
  background-size: cover;
  background-repeat: no-repeat;
/*// change animation time for the fish to change speed */
  animation: reveal 8s;
  z-index: 200;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tk-papatuanuku {
  width: 110%;
  position: fixed;
  left: -9%;
  bottom: -1%;
/*// change animation time for the fish to change speed */
  animation: earthquake 5s ;
  z-index: 200;
}

@keyframes earthquake {
  0% {
    margin-left: 0vw;
    margin-bottom: -70vh;
  }

  10% {
    margin-left: 5vw;
  }

  20% {
    margin-left: 0vw;
  }

  30% {
    margin-left: 5vw;
  }

  40% {
    margin-left: 0vw;
  }

  50% {
    margin-left: 5vw;
  }

  60% {
    margin-left: 0vw;
  }

  70% {
    margin-left: 5vw;
  }

  80% {
    margin-left: 0vw;
  }

  90% {
    margin-left: 5vw;
  }

  100% {
    margin-left: 0vw;
    margin-bottom: 0vh;
  }
}

@media only screen and (max-width: 500px) {
  .tk-papatuanuku {
    width: 200%;
    position: fixed;
    left: -90%;
    bottom: -1%;
  /*// change animation time for the fish to change speed */
    animation: earthquake 5s ;
    z-index: 200;
  }
}

@media only screen and (max-width: 400px) {
  .tk-papatuanuku {
    width: 200%;
    position: fixed;
    left: -10%;
    bottom: -1%;
  /*// change animation time for the fish to change speed */
    animation: earthquake 5s ;
    z-index: 200;
  }
}
