/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #E5DF19;
  color: black;
}

img {
  width: 100%;
}

.fm-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fm-yellow-container {
  width: 10%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.fm-yellow-container--sun {
  width: 80%;
  height: 100vh;
  margin-left: 5%;
  float: right;
  position: relative;
  }
}
