/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #90C960;
  color: black;
}

img {
  width: 100%;
}

.fm-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fm-green-container {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
  overflow: hidden;
}

.fm-green-container--koru {
  width: 70%;
  float: right;
}
