/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #633D6B;
  color: black;
}

body {
  cursor : url("../assets/theme-purple-cursor.png") 32 36, pointer;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-purple-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.tk-purple-container--stars {
  width: 92%;
  height: 100vh;
  padding-left: 8%;
  position: absolute;
  background-image: url("../assets/theme-purple-stars.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.tk-purple-container--moon {
  width: 20%;
  position: absolute;
  top: 5vh;
  left: 70%;
/*// change animation time for the fish to change speed */
  animation: rising-moon 12s;
  z-index: 200;
}

@keyframes rising-moon {
  0% {
    margin-left: -120vw;
    margin-top: 100%;
  }

  55% {
    margin-top: 1vw;
  }

  100% {
    margin-left: 0vw;
    margin-top: 0%;
  }
}

/*// iPad Pro */
@media only screen and (max-width: 1400px) {
  .tk-purple-container--moon {
    width: 40%;
    left: 50%;
  }
}

/*// iPad & iPad Mini */
@media only screen and (max-width: 1200px) {
  .tk-purple-container--moon {
    width: 40%;
    left: 50%;
  }
}


@media only screen and (max-width: 800px) {
  .tk-purple-container--moon {
    width: 40%;
    left: 50%;
  }
}

/*// iPhone 6/7/8 Plus & Pixel 2 */
@media only screen and (max-width: 500px) {
  .tk-purple-container--moon {
    width: 60%;
    left: 38%;
  }
}

/*// iPhone X */
@media only screen and (max-width: 400px) {
  .tk-purple-container--moon {
    width: 60%;
    left: 38%;
  }
}
