/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: #88C5DD;
  color: black;
}

body {
  cursor : url("../assets/theme-blue-cursor.png") 30 70, pointer;
}

img {
  width: 100%;
}

.tk-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tk-blue-container {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.tk-blue-container--wave {
  width: 100%;
  float: right;
  position: absolute;
  bottom: -1%;
}

.tk-ika-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  bottom: 0%;
  z-index: 100;
}

.tk-ika-container--ika1 {
  width: 5%;
  height: 10vh;
  padding-bottom: 0;
  padding-left: 30%;
  position: absolute;
}

.tk-ika-container--ika2 {
  width: 5%;
  height: 10vh;
  padding-bottom: 5%;
  padding-left: 80%;
  position: absolute;
}

.tk-ika1 {
  width: 7%;
  position: fixed;
  bottom: 3vh;
/*// change animation time for the fish to change speed */
  animation: swimming-fish1 8s infinite;
  z-index: 200;
}

@keyframes swimming-fish1 {
  0% {
    margin-left: -20vw;
    margin-bottom: 2;
  }

  25% {
    margin-left: 30vw;
  }

  50% {
    margin-left: 40vw;
    margin-bottom: 4%;
  }

  75% {
    margin-left: 70vw;
  }

  100% {
    margin-left: 120vw;
    margin-bottom: 9%;
  }
}

.tk-ika2 {
  width: 7%;
  position: fixed;
  bottom: 2vh;
/*// change animation time for the fish to change speed */
  animation: swimming-fish2 7s infinite;
  z-index: 200;
}

@keyframes swimming-fish2 {
  0% {
    margin-left: -20vw;
    margin-bottom: 2%;
  }

  25% {
    margin-left: 10vw;
  }

  50% {
    margin-left: 50vw;
    margin-bottom: 4%;
  }

  75% {
    margin-left: 60vw;
  }

  100% {
    margin-left: 110vw;
    margin-bottom: -1%;
  }
}

.tk-ika3 {
  width: 7%;
  position: fixed;
  bottom: 4vh;
/*// change animation time for the fish to change speed */
  animation: swimming-fish3 6s infinite;
  z-index: 200;
}

@keyframes swimming-fish3 {
  0% {
    margin-left: 110vw;
    margin-bottom: 7%;
    transform: rotate(0deg) scalex(-1);
  }

  25% {
    margin-left: 70vw;
    transform: rotate(0deg) scalex(-1);
  }

  50% {
    margin-left: 50vw;
    margin-bottom: 12%;
    transform: rotate(0deg) scalex(-1);
  }

  75% {
    margin-left: 20vw;
    transform: rotate(0deg) scalex(-1);
  }

  100% {
    margin-left: -20vw;
    margin-bottom: 1%;
    transform: rotate(0deg) scalex(-1);
  }
}

.tk-waka {
  width: 30%;
  position: fixed;
  bottom: 40vh;
/*// change animation time for the fish to change speed */
  animation: moving-waka 20s infinite;
  z-index: 200;
}

@keyframes moving-waka {
  0% {
    margin-left: 110vw;
    margin-bottom: 3%;
  }

  100% {
    margin-left: -150vw;
  }
}

/*// iPad Pro */
@media only screen and (max-width: 1400px) {
  .tk-waka {
    width: 30%;
    position: fixed;
    bottom: 30vh;
  /*// change animation time for the fish to change speed */
    animation: moving-waka 20s infinite;
    z-index: 200;
  }

  @keyframes moving-waka {
    0% {
      margin-left: 110vw;
      margin-bottom: 3%;
    }

    100% {
      margin-left: -100vw;
    }
  }
}

/*// iPhone 6/7/8 Plus & Pixel 2 */
@media only screen and (max-width: 500px) {
  .tk-blue-container--wave {
    width: 200%;
    float: right;
    position: absolute;
    bottom: -1%;
  }

  .tk-ika1 {
    width: 15%;
    position: fixed;
    bottom: 3vh;
  /*// change animation time for the fish to change speed */
    animation: swimming-fish1 8s infinite;
    z-index: 200;
  }

  .tk-ika2 {
    width: 10%;
    position: fixed;
    bottom: 2vh;
  /*// change animation time for the fish to change speed */
    animation: swimming-fish2 7s infinite;
    z-index: 200;
  }

  .tk-ika3 {
    width: 12%;
    position: fixed;
    bottom: 4vh;
  /*// change animation time for the fish to change speed */
    animation: swimming-fish3 6s infinite;
    z-index: 200;
  }

  .tk-ika-container--ika1 {
    width: 10%;
    height: 10vh;
    padding-bottom: 2%;
    padding-left: 35%;
    position: absolute;
  }

  .tk-ika-container--ika2 {
    width: 13%;
    height: 10vh;
    padding-bottom: 0%;
    padding-left: 80%;
    position: absolute;
  }

  .tk-waka {
    width: 50%;
    position: fixed;
    bottom: 25vh;
  /*// change animation time for the fish to change speed */
    animation: moving-waka 20s infinite;
    z-index: 200;
  }
}

/*// iPhone X */
@media only screen and (max-width: 400px) {
  .tk-blue-container--wave {
    width: 170%;
    float: right;
    position: absolute;
    bottom: -1%;
  }

  .tk-ika1 {
    width: 15%;
    position: fixed;
    bottom: 3vh;
  /*// change animation time for the fish to change speed */
    animation: swimming-fish1 8s infinite;
    z-index: 200;
  }

  .tk-ika2 {
    width: 10%;
    position: fixed;
    bottom: 2vh;
  /*// change animation time for the fish to change speed */
    animation: swimming-fish2 7s infinite;
    z-index: 200;
  }

  .tk-ika3 {
    width: 12%;
    position: fixed;
    bottom: 4vh;
  /*// change animation time for the fish to change speed */
    animation: swimming-fish3 6s infinite;
    z-index: 200;
  }

  .tk-ika-container--ika1 {
    width: 10%;
    height: 10vh;
    padding-bottom: 5%;
    padding-left: 40%;
    position: absolute;
  }

  .tk-ika-container--ika2 {
    width: 13%;
    height: 10vh;
    padding-bottom: 0%;
    padding-left: 80%;
    position: absolute;
  }

  .tk-waka {
    width: 50%;
    position: fixed;
    bottom: 18vh;
  /*// change animation time for the fish to change speed */
    animation: moving-waka 20s infinite;
    z-index: 200;
  }
}
