/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: white;
  color: black;
}

img {
  width: 100%;
}

.fm-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fm-menu-container {
width: 30%;
height: 100%;
position: relative;
overflow: hidden;
}

.fm-koru-container {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

.fm-koru {
width: 100%;
position: absolute;
}

.fm-koru--top {
top: 0%;
}

.fm-koru--bottom {
bottom: 0%;
}

.fm-koru--right {
margin-left: 1%;
}

.fm-koru-stem {
  width: 32.1%;
  height: 100%;
  margin-top: 50%;
  margin-right: 2%;
  float: right;
}

.fm-koru-stem2 {
  width: 32.5%;
  height: 100%;
  margin-top: 50%;
  margin-right: 1.5%;
  float: right;
}

.fm-koru-stem3 {
  width: 32.5%;
  height: 90%;
  margin-left: 1.5%;
  float: left;
}

.fm-koru-stem4 {
  width: 32.5%;
  height: 90%;
  float: left;
}

.fm-koru-stem--green {
  background-color: #90C960;
}

.fm-koru-stem--purple {
  background-color: #633D6B;
}

.fm-koru-stem--yellow {
  background-color: #E5DF19;
}

.fm-koru-stem--blue {
  background-color: #88C5DD;
}
